body {
	background-color: #2d2d2d;
	color: white;
	font-family: 'Jetbrains Mono', monospace;
	font-weight: 500;
	font-size: 1.6em;
}
table {
	border-collapse: collapse;
	background-color: #222222;
	margin: auto;
	border-radius: 0.6em;
	 -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}
table > tbody {
	margin: 0.2em;
	display: block;
}
.game-header {
	max-width: 20em;
	margin: auto;
	color: lightgrey;
}
.game-over {
	position: absolute;
	margin: auto;
	display: block;
	width: 100%;
	max-width: 20em;
	background-color: dimgray;
	box-shadow: 0.2em 0.4em 0 rbga(0, 0, 0, 0.4);
	padding: 1.2em;
	border-radius: 0.4em;
}
.game-over > h1 {
	
	text-align: center;
}
.game-over > button {
	font-size: inherit;
	display: block;
	width: 100%;
	text-align: center;
	border: solid #dd5522 0.2em;
	background-color: transparent;
	color: #dd5522;
	padding: 0.4em 0.8em;
	border-radius: 2.5em;
	font-family: 'Jetbrains Mono', monospace;
	letter-spacing: 140%;
	cursor: pointer;
}
.game-over > button:hover {
	background-color: rgba(255,50,0, 0.1);
}