@-webkit-keyframes pop-in {
	0% { opacity: 0; -webkit-transform: scale(0.5); }
	100% { opacity: 1; -webkit-transform: scale(1); }
}
@-webkit-keyframes flag-jump {
	10% { 
		opacity: 1; 
		-webkit-transform: 
			scale(1.0)
			translateX(0)
			translateY(0)
			rotateY(0);
	}
	50% { 
		opacity: 1; 
		-webkit-transform: 
			scale(1.5)
			translateX(0)
			translateY(-2em)
			rotateY(12deg);
	}	
	80% { 
		opacity: 1; 
		-webkit-transform: 
			scale(1.7)
			translateX(0)
			translateY(-2em)
			rotateY(-12deg);
	}	
	100% { 
		opacity: 1; 
		-webkit-transform: 
			scale(1.0)
			translateX(0)
			translateY(0)
			rotateY(0);
	}
}

td {
	width: 2.1em;
	height: 2.1em;
	padding: 0.3em;
	margin: 0.14em;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	border-radius: 0.4em;
	cursor: default;
	box-sizing: border-box;
	transition: 0.1s ease;
	background-size: 1.4em;
	background-repeat: no-repeat;
	background-position: center center;
}

.not-clicked, .flag {
	background-color: #323232;
	box-shadow: 0 0.1em 0.2em #1a1a1a;
	cursor: pointer;
}

.not-clicked:hover, .flag:hover {
	/* background-color: rgba(255, 255, 255, 0.2); */
	border: solid 0.15em gray;
	transform: scale(1.2);
}

.easy-start {
	background-image: url(res/star.png);
}

.not-clicked {
	
}

.clicked {
	animation: pop-in 0.5s ease-in;
	background: transparent;
}

.mine {
	background-image: url(res/bomb.png);
}

.flag {
	background-image: url(res/flag.png);
	
}

.free-0 {
	color: #2d2d2d;
}

.free-1 {
	color: #0d6a97;
}	

.free-2 {
	color: #22bb22;
}

.free-3 {
	color: #FF4848;
}

.free-4 {
	color: orangered;
}

.free-5 {
	color: darkred;
}

.free-6 {
	color: #DA07AB;
}

.free-7 {
	color: pink;
}

.free-8 {
	color: cyan;
}

.clicked.mine {
	background-color: rgba(255,0,0,0.15);
}

.clicked.flag.mine {
	/* 
			Mines after game is won
	*/
	background-color: rgba(100,255,0,0.15);
	animation: flag-jump 1s ease 2;

}

.game-over .mine {

}